<h1>{{title}}</h1>

<div *ngFor='let product of products'>
  <ul>
    <li>Name: {{product.name}}</li>
    <li>Description: {{product.description}}</li>
    <li>Price: {{product.price}}</li>
    <li>Category: {{product.category}}</li>
    <li>Origin country: {{product.origin}}</li>
    <li>Awailable for order: {{product.isAwailable}}</li>
    <li>Awailable in stock(+2 days for shipping): {{product.isInStock}}</li>
  </ul>
  <button (click)="onBuyItem(product)">Buy me!</button>
  <button (click)="onAddToCartItem(product)">Add to cart</button>
</div>
