<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 #appTitle [appHostClick]="30"></h1>
  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav grid">
      <li routerLinkActive="active">
        <a routerLink="/goods">Goods</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/admin">Admin</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/login">Login</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/order">Make order</a>
      </li>
    </ul>

    </nav>
</div>
<div class="main-grid">
    <div>
      <router-outlet (activate)='onActivate($event)' (deactivate)='onDeactivate($event)'>
      </router-outlet>
      <!-- Routed views go here -->
    </div>
    <div>
        <router-outlet name="item-desc"></router-outlet>
    </div>
  </div>
<!-- <app-cart></app-cart>
<app-products-list></app-products-list> -->


