<div class="cart">
  <p>
      <select (change)="triggerChange('type',$event.target.value)">
          <option value='name' selected>Sort by name</option>
          <option value='price'>Sort by price</option>
        </select>
      &nbsp;
        <select (change)="triggerChange('order',$event.target.value)">
            <option value='asc' selected>Ascending</option>
            <option value='desc'>Descending</option>
          </select>
  </p>
  
  <ng-container *ngIf="(cartItems | keyvalue | orderByKey: sort.type : sort.order == 'desc') as itemsArray; else elseBlock">
    <div *ngIf="itemsArray.length > 0; else buyMoreTea">
      <div *ngFor="let item of itemsArray">
        <app-cart-item [item]="item.value"
                (increment)="increment($event)"
                (decrement)="decrement($event)"
                (update)="update($event)"></app-cart-item>
      </div>
    </div>
    <ng-template #buyMoreTea>
      Your cart is empty! Please add something to it :)
    </ng-template>
  </ng-container>
  <ng-template #elseBlock>
    Cart is empty
  </ng-template>
  <div class="bottom">Total price: {{totals.price | currency : 'USD'}}
  </div>
  <div class="total-count">Total count: {{totals.count | number : 0}}
  </div>
  <button name="clear-cart" (click)="clearCart()">Clear cart!</button>
</div>
